/* COLORS */
:root {
    --Primary: #0e0701;
    --Primary-Button: #91f8bd;
    --Secondary-Button: #fce5d4;
    --Accent: #ee82ee;
    --Secondary: #fef9f5;
}
body {
    font-family: 'Ubuntu', sans-serif;
    color: var(--Primary);
    list-style-type: none;
    background: var(--Secondary);
}
body ul li {
    list-style: none;
    list-style-position: outside;
    font-size: 20px;
    line-height: 30px;
}
body ul li span {
    font-weight: bold;
}
#table_map {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}
#table {
    flex: 2;
    margin: 40px 0 0 40px
}
#list_map{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 18px;
    margin-top: 40px;
}

.AdmAreas  {
    width: 95%;
    height: auto;
    padding: 6px 9px;
    margin: 0px -9px;
    font-size: 25px;
    font-weight: medium;
    background: #91f8bd;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: 0px;
}

.admbtn:hover {
    background-color: var(--Accent);
}
.AdmAreas a {
    outline: none;
    text-decoration: none;
}
.mapradius {
    width: calc(95% - 18px);
    position: relative;
    padding: 0px 9px;
    height: auto;
    font-size: 25px;
    background: #91f8bd;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
.mapradius p {
    width: 85%;
}
#myInput {
    width:70px;
    font-size: 25px;
    border: none;
    background: var(--Secondary-Button);
    border-radius: 5px;
}

#myCheckbox {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 0px 0px;
    right: 9px;
    top: calc(50% - 25px);
    background: var(--Secondary);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

#map {
    width: 95%;
    height: 600px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
 
 #MainInfo h1 {
    margin-left: 40px;
    line-height: 30px;
    font-size: 24px;
 }

 #MainInfo {
    padding: 15px;
    font-size: 16px;
    background: var(--Secondary-Button);
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.15);
 }
 #MainInfo a {
    text-decoration: none;
    font-size: 20px;
    background: var(--Primary-Button);
    color: var(--Primary);
    border-radius: 5px;
    padding: 0 5px;
 }
 #MainInfo:hover a{
    text-decoration: underline;
 }
 .MoreInfo {
    background: var(--Secondary-Button);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.15);
 }
 .WholeInfo .MoreInfo ul li:first-letter{
    text-transform: uppercase;
 }
.MoreInfo li{
    padding-bottom: 15px;
}
