<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Школы Москвы</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/styles.css'>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="module" defer src="../static/scripts/tablesort.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.24/datatables.min.css"/> -->
    <link rel="stylesheet" type="text/css" href="../static/tablestyle.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.24/datatables.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.1/MarkerCluster.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.1/MarkerCluster.Default.css" />
    

</head>
<body>
    <!-- <div class="mapradius"></div> -->
        
    <!-- </div> -->
    <div id="list_map">
        <ul class="AdmAreas">
            <a href="#" data-adm="Центральный%20административный%20округ"><li class='admbtn' id="2162196">Центральный</li></a>
            <a href="#" data-adm="Северный%20административный%20округ"><li class='admbtn' id="162903">Северный</li></a>
            <a href="#" data-adm="Северо-Восточный%20административный%20округ"><li class='admbtn' id="1252558">Северо-Восточный</li></a>
            <a href="#" data-adm="Восточный%20административный%20округ"><li class='admbtn' id="1320234">Восточный</li></a>
            <a href="#" data-adm="Юго-Восточный%20административный%20округ"><li class='admbtn' id="1278703">Юго-Восточный</li></a>
            <a href="#" data-adm="Южный%20административный%20округ"><li class='admbtn' id="1282181">Южный</li></a>
        </ul>
        <ul class="AdmAreas">
            <a href="#" data-adm="Юго-Западный%20административный%20округ"><li class='admbtn' id="1304596">Юго-Западный</li></a>
            <a href="#" data-adm="Западный%20административный%20округ"><li class='admbtn' id="226149">Западный</li></a>
            <a href="#" data-adm="Северо-Западный%20административный%20округ"><li class='admbtn' id="446092">Северо-Западный</li></a>
            <a href="#" data-adm="Зеленоградский%20административный%20округ"><li class='admbtn' id="1320358">Зеленоградский</li></a>
            <a href="#" data-adm="Троицкий%20административный%20округ"><li class='admbtn' id="2263059">Троицкий</li></a>
            <a href="#" data-adm="Новомосковский%20административный%20округ"><li class='admbtn' id="2263058">Новомосковский</li></a>
        </ul>
    
        <label class="mapradius">
            <p>Поиск по радиусу при клике на карту</p>
            <input type="checkbox" id="myCheckbox" name="myCheckbox" value="1">
            <input step="500" min="0" type="number" id="myInput" name="myInput" placeholder="Введите радиус в метрах">
        </label>

        <div id="map"></div>
        
        <script defer type='module' src="../static/scripts/admlvl5.js"></script>
        <script defer src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
        <script defer src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
        <script defer type='module' src="../static/scripts/mapscript.js"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.1/leaflet.markercluster.js"></script>
        <!-- <script defer src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/"></script> -->
    </div> 

    {% block content %}{% endblock %}

    
</body>
</html>